apiVersion: v1
kind: ConfigMap
metadata:
  name: postgres-config
  labels:
    app: postgres
data:
  POSTGRES_DB: postgresdb
  POSTGRES_USER: postgresadmin
  POSTGRES_PASSWORD: jhfg76jkdfdf76
  POSTGRES_HOST: postgres.ocean-operator.svc.cluster.local
  POSTGRES_PORT: "5432"
